<footer>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eum quo
  vel nobis eius veniam quis possimus aut voluptate officiis! Cumque officiis
  quam corporis incidunt, impedit quasi ipsa nisi ratione, nihil, sint illum
  recusandae quidem ut dolor culpa! Cumque maiores deleniti, eligendi sapiente
  veritatis perferendis dolorem mollitia a harum at eum. Sit totam adipisci
  sequi fugiat soluta reiciendis quod illo eveniet quae, molestias dignissimos
  dolores, natus nemo? Eaque rem animi nostrum ipsa, excepturi, cupiditate
  mollitia illo modi delectus corrupti hic ipsam voluptatem! Maxime, magnam.
  Placeat saepe quaerat minus nam aut pariatur, laudantium cum odio eum
  quibusdam, alias suscipit, esse cumque.
</footer>
