<div class="alert alert-danger" role="alert" *ngIf="!loginIsFailed">
  A bejelentkezés 5 percig nem elérhető!
</div>
<div class="container content w-25">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="username..."
      [(ngModel)]="username"
      *ngIf="buttonDisabled()"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="password..."
      [(ngModel)]="password"
      *ngIf="buttonDisabled()"
    />
  </div>
  <button
    class="btn btn-primary w-25 mx-auto"
    (click)="authService.login(username, password)"
    *ngIf="buttonDisabled()"
  >
    Login
  </button>
</div>

